.container {
  padding: 1%;
}

.detailsform {
  margin-left: 3%;
}

.itemDataRow {
  margin-top: "2rem";
  margin-bottom: "2rem";
}

.row {
  margin-top: "2rem";
  margin-bottom: "2rem";
}

.suppliers {
  padding: 2%;
  margin-top: 2rem;
  border: 1px solid black;
  width: auto;
}

.suppliers li {
  color: blue;
}

form {
  display: flex;
  justify-content: center;
}

.datepicker {
  width: 180px;
}

.container {
  width: 100%;
}

.formItem {
  padding: 1em 0em;
  width: 15em;
  margin-left: 10em;
}

.center {
  align-items: center;
  text-align: center;
}

.dialog {
  align-items: center;
}

.formItem {
  padding: 1em;
}

.closeButtonDialog {
  text-align: right;
}
